<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
    <head>
        <title>천둥 장터</title>
        <link rel="icon" th:href="@{/img/favicon.png}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{/css/custom.css}">
        <script th:src="@{/js/jquery/jquery-3.5.1.js}"></script>
    </head>

    <body style="overflow: auto">
    <!-- Start Top Nav -->
    <div class="sc-dqBHgY IvAsD">
        <div class="sc-gxMtzJ kaFNmQ">
            <div class="sc-dfVpRl jYMzIJ">
            </div>

            <!--로그인 전 -->
            <div class="sc-dfVpRl jYMzIJ">
                <button class="sc-iyvyFf bNBtQ">로그인/회원가입</button>
                <a class="sc-hwwEjo hvNQEV" href="#">내상점</a>
            </div>

            <!--로그인 후 -->
            <!--<div class="sc-dfVpRl jYMzIJ">
                <button class="sc-iyvyFf bNBtQ">로그아웃</button>
                <div class="sc-gzOgki cEHrMF">
                    <div class="sc-bdVaJa ffbqaN"><a class="sc-bwzfXH bHteAL">알림</a>
                        <div class="sc-htpNat foyUln">
                            <a class="sc-EHOje kNPAaG" href="#">
                                <div class="sc-gzVnrw eqxEKO">알림<span>몇주 전</span></div>
                                <img src="#" width="40" alt="알림 상품 이미지" class="sc-ifAKCX cFlEyZ">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sc-gzOgki cEHrMF">
                    <div class="sc-dnqmqq kpkpDl">
                        <a class="sc-iwsKbI aFoEk" href="#">내 상점</a>
                        <div class="sc-gZMcBi ldCzwX">
                            <a class="sc-gqjmRU bnUMcA" href="#">내 상품</a>
                            <a class="sc-gqjmRU bnUMcA" href="#">찜한상품</a>
                            <a class="sc-gqjmRU bnUMcA" href="#">계정설정</a>
                            <a class="sc-VigVT fwCvrI" href="#">고객센터</a>
                        </div>
                    </div>
                </div>
            </div>-->

        </div>
    </div>
    <!-- Close Top Nav -->

    <!-- Header -->
    <div class="sc-kPVwWT hLFFUa">
        <div class="sc-kfGgVZ zvczX">
            <div class="sc-esjQYD gLAQAm">
                <a class="sc-kIPQKe hDmINX" href="/">
                    <img th:src="@{/img/logo1.png}" width="136" height="40" alt="천둥장터 로고">
                </a>
                <div class="sc-jKJlTe keyjxL">
                    <div class="sc-eNQAEJ voMyM">
                        <input type="text" placeholder="상품명, 지역명, @상점명 입력" class="sc-hMqMXs cLfdog" value="">
                        <a class="sc-kEYyzF gfWKdx">
                            <img th:src="@{/img/search.png}" width="16" height="16" alt="검색 버튼 아이콘">
                        </a>
                    </div>

                </div>
                <div class="sc-RefOD etIgxm">
                    <button class="sc-iQKALj gcOckZ">
                        <img th:src="@{/img/chat.png}" width="23" height="24" alt="번개톡버튼 이미지">번개톡
                    </button>
                    <a class="sc-bwCtUz elwjyI" href="#">
                        <img th:src="@{/img/store.png}" width="23" height="24" alt="내상점버튼 이미지">내상점
                    </a>
                    <a class="sc-bwCtUz elwjyI" href="#">
                        <img th:src="@{/img/sell.png}" width="23" height="26" alt="판매하기버튼 이미지">판매하기
                    </a>
                </div>
            </div>
            <div class="sc-eXEjpC ZKoFr">
                <div class="sc-fBuWsC gIJOQQ">
                    <img th:src="@{/img/menu.png}" width="20" height="16" alt="메뉴 버튼 아이콘">
                </div>
                <a href="#" target="_blank" class="sc-ibxdXY lmHGtJ">
                    <b>번개장터 판매자센터</b>
                </a>
            </div>
        </div>
        <div class="sc-hrWEMg dBQmoE">
            <div class="sc-frDJqD cUOOIv">
                <div class="sc-kvZOFW fRAuHJ">
                    <div class="sc-hqyNC bjSxjd">찜한상품</div>
                    <div class="sc-dNLxif fYTToU">
                        <a class="sc-jqCOkK dyMLqK" href="#">
                            <img th:src="@{/img/like.png}" width="9" height="9" alt="찜 아이콘">0
                        </a>
                    </div>
                </div>
                <div class="sc-kvZOFW fRAuHJ">
                    <div class="sc-hqyNC bjSxjd">최근본상품</div>
                    <div class="sc-uJMKN hVUerH">
                        <div class="sc-bbmXgH eWzLza">
                            <img th:src="@{/img/recent.png}" width="28" height="16" alt="빈 최근본상품 아이콘">
                        </div>
                    </div>
                    <div class="sc-cIShpX eVyCsJ">
                        <!-- 최근 본 상품이 없을 때-->
                        <img th:src="@{/img/recent.png}" width="28" height="16" alt="빈 최근본상품 아이콘">
                        <div>최근 본 상품이<br>없습니다.</div>
                        <!--    -->
                    </div>
                </div>
                <div class="sc-kvZOFW fRAuHJ">
                    <button class="sc-jbKcbu hFBaIb">TOP</button>
                </div>
            </div>
        </div>
    </div>

    <!--content-->
    <th:block th:replace="${content}">

    </th:block>
    <!--close content-->

    <div class="sc-jwKygS gSsteC">
        <div class="sc-fYiAbW kbvSGu">
            <button class="sc-gFaPwZ bkcPmx">
                <img src="/img/x.png" width="24" height="24" alt="로그인 모달 닫기 버튼 아이콘">
            </button>
            <div class="sc-eilVRo gcrUzx">
                <img src="/img/logo2.png" width="30" height="34" class="sc-fOKMvo gBrrkj">
                <div class="sc-dUjcNx cHwItl">천둥장터로 중고거래 시작하기</div>
                <div class="sc-gHboQg llsWuF">간편하게 가입하고 상품을 확인하세요</div>
                <div class="sc-eerKOB caeGkJ">
                    <button class="sc-cpmLhU bnIVOK">
                        <div class="sc-emmjRN hhygwv"></div>
                        카카오로 이용하기
                    </button>
                    <button class="sc-cpmLhU hjSaze">
                        <div class="sc-emmjRN hhygwv"></div>
                        페이스북으로 이용하기
                    </button>
                    <button class="sc-cpmLhU cIGoKq">
                        <div class="sc-emmjRN hhygwv"></div>
                        네이버로 이용하기
                    </button>
                    <a class="sc-dymIpo hIiBui" href="#">
                        <div class="sc-emmjRN hhygwv"></div>
                        본인인증으로 이용하기</a></div>
                <div class="sc-bnXvFD eByTGV"><p>도움이 필요하면
                    <a href="mailto:help@bunjang.co.kr">이메일</a> 또는 고객센터<b>1670-2910</b>로 문의 부탁드립니다.
                    <br>고객센터 운영시간: 09~18시 (점심시간 12~13시, 주말/공휴일 제외)</p>
                </div>
            </div>
            <!-- 로그 아웃 모달
            <div class="sc-jwKygS gSsteC">
                <div class="sc-btzYZH loGZtw"><p class="sc-bYSBpT kYaBSe"></p>
                    <div class="sc-elJkPf cgZVKM">
                        <button type="button" class="sc-jtRfpW caPtxQ">확인</button>
                        <button type="button" class="sc-kTUwUJ cFsfis">취소</button>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
    <footer class="py-5" style="background-color: #ffcd39">
        <div class="container"><p class="m-0 text-center text-white">Copyright © Your Website 2022</p></div>
    </footer>
    <script>
        /* 네비 > 알림 메뉴 이벤트 */
        $(".sc-bwzfXH").on("mouseover", function () {
            $(".sc-htpNat").removeClass("foyUln").addClass("iakzBy");
        })
        $(".sc-htpNat").hover(function () {
            $(this).removeClass("foyUln").addClass("iakzBy");
        }, function () {
            $(this).removeClass("iakzBy").addClass("foyUln");
        })

        /* 네비 > 로그인/회원가입 메뉴 클릭 이벤트 */
        let modal = $(".sc-jwKygS");
        $(".sc-iyvyFf").click(function () {
            /* 로그인 전 후 처리 필요*/
            $("body").css("overflow", "hidden");
            modal.removeClass("gSsteC").addClass("bynjYU");
        })
        $(".sc-gFaPwZ").click(function () {
            $("body").css("overflow", "auto");
            modal.removeClass("bynjYU").addClass("gSsteC");
        })
        $(document).mouseup(function (e) {
            if (modal.has(e.target).length === 0) {
                modal.removeClass("bynjYU").addClass("gSsteC");
            }
        });

        /* 네비 > 내 상점 이벤트 */
        $(".sc-iwsKbI").on("mouseover", function () {
            $(".sc-gZMcBi").removeClass("ldCzwX").addClass("gjZqrZ");
        });
        $(".sc-gZMcBi").hover(function () {
            $(this).removeClass("ldCzwX").addClass("gjZqrZ");
        }, function () {
            $(this).removeClass("gjZqrZ").addClass("ldCzwX");
        })


    </script>
    <!-- End Script -->
    </body>
</th:block>
</html>
