<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basicLayout :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <section class="py-5 border">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-10">
                        <form>
                            <div class="row mt-3 ">
                                <h3>기본정보</h3><small style="color: red">*필수항목</small>
                            </div>
                            <hr>
                            <div class="row">
                                <div id="image-cnt" class="col-6 col-sm-2"><small style="color: red">*</small>
                                </div>
                                <div class="col" style="height: 320px">
                                    <div class="h-75" id="img-container">
                                        <ul class="list-group list-group-horizontal" style="height: 200px">
                                            <li class='list-group-item text-center'
                                                th:each="image : ${dto.imageDTOList}">
                                                <img th:image-id="${image.imageId}" style='height: 135px'
                                                     th:src='|@{/products/display?imageURL=}${image.imageURL}|'><br>
                                                <button type='button'
                                                        data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                        class='btn btn-outline-warning'>변경
                                                </button>
                                                <button type='button'
                                                        class='btn btn-outline-danger'>삭제
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <input class="form-control" type="file" onchange="addFile(event)">
                                    <div class="col m-2">
                                        <small style="color: cornflowerblue;">
                                            * 상품 이미지는 640x640에 최적화 되어 있습니다.<br>
                                            최대 지원 사이즈인 640 X 640 으로 리사이즈 해서 올려주세요.(개당 이미지 최대 10M)
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6 col-sm-2 ">제목<small style="color: red">*</small></div>
                                <div class="col">
                                    <input name="title" class="form-control" type="text" placeholder="상품 제목을 입력해주세요"
                                           th:value="${dto.title}">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6 col-sm-2 ">카테고리<small style="color: red">*</small></div>
                                <div class="col">
                                    <select id="bg-select" name="bgNum" class="form-select"
                                            aria-label="multiple select example">
                                    
                                    </select>
                                </div>
                                <div class="col">
                                    <select id="sg-select" name="sgNum" class="form-select"
                                            aria-label="multiple select example">
                                    
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6 col-sm-2 ">거래지역<small style="color: red">*</small></div>
                                <div class="col">
                                    <button id="current-btn" type="button" class="btn btn-outline-secondary"
                                            onclick="getPos()">현재 위치
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary" onclick="">최근 지역</button>
                                    <button type="button" class="btn btn-outline-secondary" onclick="searchAddress()">주소
                                        검색
                                    </button>
                                    <input name="address" class="form-control" type="text" th:value="${dto.address}"
                                           readonly>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6 col-sm-2 ">가격<small style="color: red">*</small></div>
                                <div class="col">
                                    <input name="price" class="form-control" type="text" th:value="${dto.price}"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                           placeholder="숫자만 입력해주세요">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6 col-sm-2 ">설명<small style="color: red">*</small></div>
                                <div class="col mb-3">
                                    <textarea name="content" class="form-control" rows="6">[[${dto.content}]]</textarea>
                                </div>
                            </div>
                            <hr>
                            
                            <button type="button" class="btn btn-warning float-end" onclick="validation()">상품수정</button>
                        
                        </form>
                    </div>
                    
                    <div class="tab-pane fade" id="myreview" role="tabpanel"
                         aria-labelledby="myreview-tab">
                        상품관리
                    </div>
                    
                    <div class="tab-pane fade" id="wishlist" role="tabpanel"
                         aria-labelledby="wishlist-tab">
                        구매/판매 내역
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">상품 이미지 변경</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form enctype="multipart/form-data" id="imageChange">
                        <div class="modal-body">
                            <input type="file" name="file" accept="image/*">
                            <input hidden name="imageId">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                            <button type="submit" class="btn btn-primary">변경</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script th:inline="javascript">
            // 파일 배열
            let fileArr = [];
            let imageCnt = $(".list-group-item").length;
            const bgSelect = $("select[name='bgNum']");
            const sgSelect = $("select[name='sgNum']");
            
            let bgNum = [[${dto.bgNum}]];
            let sgNum = [[${dto.sgNum}]];
            
            $(function () {
                $("#image-cnt").html("상품이미지(" + imageCnt + "/" + 5 + ")<small style='color: red'>*</small>");
            })
            
            $(getBGList());
            $(getSGList());
            
            $(bgSelect).on("change", function () {
                bgNum = $(this).val();
                sgSelect.children().remove();
                sgSelect.append("<option th:selected=\"${sgNum=='' ? true: false}\">카테고리 소분류</option>")
                getSGList();
            });
            
            
            // 대분류 호출 함수
            function getBGList() {
                $.getJSON('/group/bg/all', function (arr) {
                    for (let i in arr) {
                        let optionNode = document.createElement("option");
                        optionNode.setAttribute("value", arr[i].bgNum);
                        optionNode.text = arr[i].bgCate;
                        if (arr[i].bgNum == bgNum) {
                            optionNode.selected = true;
                        }
                        bgSelect.append(optionNode);
                        
                    }
                });
            }
            
            // 소분류 호출 함수
            function getSGList() {
                $.getJSON('/group/sg/' + bgNum, function (arr) {
                    for (let i in arr) {
                        let optionNode = document.createElement("option");
                        optionNode.setAttribute("value", arr[i].sgNum);
                        optionNode.text = arr[i].sgCate;
                        if (arr[i].sgNum == sgNum) {
                            optionNode.selected = true;
                        }
                        sgSelect.append(optionNode);
                    }
                });
            }
            
            // 이미지id 전달
            $(".list-group-item").on("click", ".btn-outline-warning", function () {
                let imageId = $(this).siblings("img").attr("image-id");
                $("input[name='imageId']").val(imageId);
            });
            
            // 이미지 변경 함수
            $(".modal-footer > .btn-primary").on("click", function (event) {
                event.preventDefault();
                
                if (!$("input[name=file]").val()) {
                    alert("파일을 첨부해주세요");
                    return;
                }
                
                let form = $("#imageChange")[0];
                let data = new FormData(form);
                let closeBtn = $(this).siblings(".btn-secondary");
                
                $.ajax({
                    url: '/products/modify/' + [[${dto.productId}]] + "/image",
                    type: 'post',
                    processData: false, // query String을 하지 않는다.
                    contentType: false, // multipart/form-data로 전송되게 하는 설정
                    async: false,
                    data: data,
                    success: function (result) {
                        alert("이미지가 변경되었습니다.");
                        console.log(result);
                        let imageId = result.imageId;
                        let imageURL = result.imageURL;
                        closeBtn.click();
                        $("img[image-id=" + imageId + "]").attr("src", "/products/display?imageURL=" + imageURL);
                    }, error: function (error) {
                        alert("이미지 변경에 실패했습니다.");
                        closeBtn.click();
                        console.log(error);
                    }
                });
            })
            
            
            // 이미지 등록 함수
            function addFile(event) {
                if (imageCnt >= 5) {
                    alert("상품 이미지는 최대 5개입니다.");
                    return;
                }
                
                let fileList = event.target.files;
                let file = fileList[0];
                let fileName = file.name;
                
                // 이미지 파일 검사
                if (!checkExtension(fileName, file.size)) {
                    return;
                }
                // 배열의 파일 저장
                fileArr.push(file);
                // 파일 개수 보여주기
                imageCnt++;
                $("#image-cnt").html("상품이미지(" + imageCnt + "/5)<small style='color: red'>*</small>");
                // 미리보기 처리
                setThumbnail(file, fileName);
                
            }
            
            // 미리보기 함수
            function setThumbnail(file, fileName) {
                const ulNode = $("#img-container ul");
                let reader = new FileReader();
                
                reader.onload = function (file) {
                    
                    ulNode.append("<li class='list-group-item text-center'>" +
                        "<img style='height: 135px' src='" + file.target.result + "'><br>" +
                        "<button type='button' data-name='" + fileName + "' class='btn btn-outline-danger'>삭제</button>" +
                        " </li> ");
                };
                reader.readAsDataURL(file);
            }
            
            $()
            
            // 이미지 파일 검사
            function checkExtension(fileName, fileSize) {
                const regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
                const maxSize = 10485760; //10MB
                
                for (let i = 0; i < fileArr.length; i++) {
                    if (fileArr[i].name === fileName) {
                        alert("중복 이미지입니다.");
                        return false;
                    }
                }
                
                if (fileSize >= maxSize) {
                    alert("파일 사이즈 초과");
                    return false;
                }
                
                if (regex.test(fileName)) {
                    alert("해당 종류의 파일은 업로드할 수 없습니다.")
                    return false;
                }
                return true;
            }
            
            // 이미지 삭제 함수
            $(".list-group").on("click", ".btn-outline-danger", function () {
                let fileName = $(this).data("name");
                if (imageCnt <= 1) {
                    alert("이미지는 1개 이상이어야합니다.");
                    return;
                }
                if (fileName) {  //신규 파일 처리
                    // 배열에서 삭제
                    for (let i = 0; i < fileArr.length; i++) {
                        if (fileArr[i].name === fileName) {
                            fileArr.splice(i, 1)
                        }
                    }
                } else {    //기존 파일 처리
                    let imageId = $(this).siblings("img").attr("image-id");
                    
                    let result = removeImage(imageId);
                    if (!result) {
                        alert("권한이 없습니다.");
                        return;
                    }
                }
                // 미리보기 삭제
                $(this).closest("li").remove();
                // 이미지 개수 보여주기
                imageCnt--;
                $("#image-cnt").html("상품이미지(" + imageCnt + "/5)<small style='color: red'>*</small>");
            });
            
            
            // 기존 상품 이미지 삭제
            function removeImage(imageId) {
                let rtn = false;
                $.ajax({
                    url: '/products/modify/' + [[${dto.productId}]] + "/" + imageId,
                    type: 'delete',
                    async: false,
                    success: function (result) {
                        console.log("removed");
                        rtn = true;
                    }, error: function (error) {
                        console.log(error);
                    }
                });
                return rtn;
            }
            
            
            // 주소 검색 함수
            function searchAddress() {
                //카카오 지도 발생
                new daum.Postcode({
                    oncomplete: function (data) { //선택시 입력값 세팅
                        let address = data.jibunAddress.replace(/[0-9]/g, "").replace(" -", "");
                        address = address.trim();
                        
                        $("input[name='address']").val(address);
                    }
                }).open();
            }
            
            // 현재 주소 검색 함수
            function getPos() {
                const currentBtn = $("#current-btn");
                currentBtn.text("로딩 중...").prop("disabled", true);
                
                // 현재 좌표 구하기
                navigator.geolocation.getCurrentPosition((position) => {
                    const lat = position.coords.latitude;
                    const lon = position.coords.longitude;
                    // 카카오에 주소 검색하기
                    $.ajax({
                        url: 'https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x=' + lon + '&y=' + lat + '&input_coord=WGS84',
                        headers: {'Authorization': 'KakaoAK bc804fee1d835076d928997820230f28'},
                        type: 'get',
                        success: function (data) {
                            let address = data.documents[1].address_name;
                            $("input[name='address']").val(address);
                        }, error: function () {
                            alert("위치권한을 확인해주세요")
                        }
                    });
                    currentBtn.text("현재 위치").prop("disabled", false);
                });
            }
            
            // 유효성 검사
            function validation() {
                let inputFile = $("input[type='file']");
                let title = $("input[name='title']").val();
                let bg = $("#bg-select").val();
                let sg = $("#sg-select").val();
                let address = $("input[name='address']").val();
                let price = $("input[name='price']").val();
                let content = $("textarea[name='content']").val();
                
                if (imageCnt < 1) {
                    alert("상품 이미지를 등록해주세요.");
                } else if (!title.trim()) {
                    alert("제목을 입력해주세요.");
                } else if (sg === "") {
                    alert("카테고리를 선택해주세요.")
                } else if (!address) {
                    alert("주소를 입력해주세요.");
                } else if (!price) {
                    alert("가격을 입력해주세요.")
                } else if (!content) {
                    alert("상품 설명을 입력해주세요");
                } else {
                    let formData = new FormData();
                    for (let file of fileArr) {
                        formData.append("files", file);
                    }
                    let productId = [[${dto.productId}]];
                    formData.append("title", title);
                    formData.append("sgNum", sg);
                    formData.append("address", address);
                    formData.append("price", price);
                    formData.append("content", content);
                    
                    
                    $.ajax({
                        url: '/product',
                        processData: false, // query String을 하지 않는다.
                        contentType: false, // multipart/form-data로 전송되게 하는 설정
                        data: formData,
                        type: 'put',
                        dataType: 'text',
                        success: function (result) {
                            if (result) {
                                alert("상품수정에 성공했습니다.");
                                // 상세 페이지로 이동
                                location.href = "/products/" + result;
                            }
                        }, error: function (jqXHR, textStatus, errorThrown) {
                            alert("상품수정에 실패했습니다");
                            console.log(jqXHR.responseText);
                        }
                    });
                }
                
                
            }
        </script>
    
    </th:block>
</th:block>