<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">

    <th:block th:fragment="content">

        <section class="goods-section">
            <div class="goods-container">
                <div class="goods-row">
                    <div class="goods-card">
                        <a th:href="@{/goods/1}" class="goods-link">
                            <div class="goods-body">
                                <!-- 상품 이미지-->
                                <img class="goods-img" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="...">
                                <!-- 상품 정보-->
                                <div class="card-body">
                                    <div class="goods-name">상품 이름 테스트</div>
                                    <div class="goods-info">
                                        <div class="goods-price">상품 가격</div>
                                        <div class="goods-regTime"><span>3분 전</span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </th:block>

</th:block>